@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

:root {
  --DarkSlateGrey: hsl(234, 29%, 20%);
  --CharcoalGrey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  --Tomato: hsl(4, 100%, 67%);
}

body {
  background-color: var(--DarkSlateGrey);
}

.Form {
  border-radius: 30px;
  padding: 18px;
  background-color: var(--White);
  margin: 190px auto;
  font-size: 15px;
  width: 850px;
  /* width: 80vw; */
  overflow: hidden;
  display: flex;
  /* transform: scale(1); */
}

.Form section {
  width: 50%;
  box-sizing: border-box;
  padding: 60px 20px;
  margin: 0px 42px 0px 20px;
  overflow: hidden;
}

.Form section h1 {
  font-size: 2.8em;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 7px 0px;
  display: flex;
}
li img {
  transform: scale(0.8);
  margin: 0px 7px 0 0;
  padding-bottom: 10px;
}

form {
  margin-top: 20px;
}
form label {
  display: inline-block;
  font-size: 0.9em;
  font-weight: 600;
}

form input,
button {
  padding: 15px 15px 15px 10px;
  width: 90%;
  border: 2px solid gainsboro;
  border-radius: 10px;
  margin: 14px 0px 13px;
  font-size: 1.1em;
  cursor: pointer;
}

form input:focus {
  border: unset;
  outline: 1px solid black;
}
form input[type="submit"],
button {
  width: 100%;
  background-color: var(--DarkSlateGrey);
  color: var(--White);
  border: unset;
  font-size: 1em;
}

form input[type="submit"]:hover,
button:hover {
  background-image: linear-gradient(to right, rgb(255, 6, 43), var(--Tomato));
  box-shadow: 1px 10px 15px 0px rgb(255, 129, 139);
}
figure {
  width: 45%;
  margin: 0;
  height: 100%;
}

figure img {
  width: 100%;
  height: 100%;
}

/* Thanks Message */

.success {
  background-color: var(--White);
  margin: 200px auto;
  width: 300px;
  padding: 38px 54px;
  font-size: 14px;
  border-radius: 30px;
}

.success img {
  margin-left: -12px;
  transform: scale(0.8);
}
.success h1 {
  font-family: "Roboto", sans-serif;
  line-height: 40px;
  font-size: 3em;
  margin: 10px 0px;
}

.success p {
  font-size: 0.9em;
}

@media screen and (max-width: 700px) {
  body {
    background-color: var(--White);
  }
  .Form {
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: -20px;
    padding-top: 20px;
    transform: unset;
  }
  .Form section {
    order: 2;
    width: 85%;
    margin: auto;
    padding-left: 5px;
  }

  .success {
    width: 80vw;
    margin-top: 40px;
    font-size: 15px;
    padding: 20px;
  }
  .success button {
    width: 90vw;
    position: absolute;
    bottom: 2%;
    right: 5%;
  }
  figure {
    order: 1;
    width: 100%;
  }
}
